openapi: 3.1.0
info:
  title: UOR Certify — Decentralized Object Identity API
  summary: Assign a permanent, verifiable identity to any digital object. One POST in, a tamper-evident JSON-LD identity bundle out.
  description: |
    ## What this service does

    POST any digital object (JSON, bytes, or DAG-CBOR) and receive a
    **tamper-evident, decentralized, permanently addressable identity bundle**
    in return. The response is a valid JSON-LD 1.1 document interoperable
    with W3C Verifiable Credentials 2.0, W3C Data Integrity 1.0, IPFS, and
    any OpenAI-compatible AI agent.

    **The core story (one line):**
    UOR admitted the object → assigned `uor_address` (ontological name) →
    mapped it to `@id` (content-addressed `ipfs://` URI) → minted a
    verifiable `certificate`. Every step is cryptographically reproducible.

    ## For AI agents

    This service is registered as an OpenAI-compatible tool. Agents can
    discover it at `/.well-known/ai-plugin.json` and load ready-to-use
    function definitions from `GET /v1/openai-tools`. Compatible with:
    LangChain, CrewAI, AutoGPT, AWS Bedrock Agents, and any framework
    that supports the OpenAI function-calling standard.

    **Use this tool when you need to:**
    - Create a permanent, tamper-evident identifier for any data or AI output
    - Store an object so it is verifiable and retrievable without a central server
    - Anchor AI-generated content to a cryptographic proof of provenance
    - Build verifiable provenance chains across multi-agent pipelines

    ## Standards implemented

    | Standard | Role |
    |---|---|
    | JSON-LD 1.1 | Response is a valid JSON-LD node (`@context`, `@id`, `@type`) |
    | W3C Data Integrity 1.0 | `digestMultibase` field; certificate block carries a DI proof |
    | W3C VC 2.0 | Certificate block projects to a Verifiable Credential via `?as=vc` |
    | IPFS IPIP-402 | Trustless block gateway; blocks are content-addressed and immutable |
    | OpenAI tool calling | `GET /v1/openai-tools` returns function-calling schema |
    | GPT Actions | `GET /.well-known/ai-plugin.json` registers as a ChatGPT/GPT Action |
  version: "0.5.0"
  license:
    name: Apache-2.0
    identifier: Apache-2.0

servers:
  - url: https://api.uor.foundation
    description: Public production endpoint.

security: []

paths:
  /v1/certify:
    post:
      operationId: certify
      summary: Certify any digital object — assign it a permanent UOR identity and IPFS content address.
      description: |
        **For AI agents:** call this to give any data a permanent, verifiable
        identity. POST the raw JSON object as the request body. The response
        tells you `uor_address` (the UOR canonical name) and `@id` (the
        `ipfs://` URI you can share with anyone to retrieve or verify it).

        **Content-Type negotiation:**
        - `application/json` — any JSON object; canonicalized via DAG-CBOR.
          Integers must fit in `i64` or `u64`. Max 10 MB.
        - `application/vnd.ipld.dag-cbor` — pre-encoded DAG-CBOR bytes
          (must already be canonical). Max 100 MB.
        - anything else — stored as opaque bytes with `raw` codec. Max 100 MB.

        **Idempotency:** the same payload always returns the same `@id` and
        `uor_address`. Safe to call multiple times.
      parameters:
        - name: X-UOR-Context
          in: header
          required: false
          schema: { type: string, format: uri, example: "https://uor.foundation/" }
          description: Override the ontology context. Defaults to canonical.
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: Optional Stripe-style hint; content addressing is already idempotent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Any JSON value whose integer literals fit in `i64` or `u64`.
            examples:
              agent:
                value: { "agent": "ada", "trust": 0.98 }
          application/vnd.ipld.dag-cbor:
            schema: { type: string, format: binary }
          application/octet-stream:
            schema: { type: string, format: binary }
      responses:
        "201":
          description: Created. Block pair is now retrievable.
          headers:
            Cache-Control:
              schema: { type: string, example: "public, max-age=300, must-revalidate" }
              description: |
                5-minute freshness + must-revalidate because the response
                body embeds `gateway.*` absolute URLs that can change
                across deployments. The block endpoints themselves emit
                `immutable` (v0.2.0+).
            ETag:
              schema: { type: string, example: "\"bafyreicertcid…\"" }
            Warning:
              schema: { type: string, example: '299 - "content-type treated as opaque bytes"' }
              description: |
                **v0.4.0.** Present if the caller sent an unrecognised
                (or absent) `Content-Type` header. The request is still
                accepted, but routed to the raw-bytes (codec `0x55`) path.
                Set `Content-Type: application/json` or
                `application/vnd.ipld.dag-cbor` explicitly to avoid.
          content:
            application/ld+json:
              schema: { $ref: "#/components/schemas/CertifyResponse" }
        "400":
          description: |
            Malformed request. The response body always has the shape
            `{ "error": <stable-tag>, "detail": <human-readable> }`. Tags:
            - `malformed JSON` — body is not valid JSON.
            - `integer out of DAG-CBOR range` — JSON integer outside `i64::MIN..=u64::MAX`.
              DAG-CBOR integer major types 0/1 max at `u64::MAX`; arbitrary-
              precision bignums (CBOR tag 2) are not supported in v0.1.x.
            - `non-finite number` — JSON contained NaN / Infinity.
            - `malformed DAG-CBOR` — `application/vnd.ipld.dag-cbor` body failed to decode.
            - `non-canonical DAG-CBOR` — body decoded but its bytes do not
              equal the canonical re-encoding of the decoded value.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: |
            Payload too large. JSON bodies are capped at 10 MB; all other
            content types at 100 MB.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Kernel admission or encoding failure.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: |
            Block store (Kubo) unreachable — the admission succeeded
            but the blocks could not be persisted. Tag:
            `storage backend unavailable`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/blocks/{cid}:
    get:
      operationId: getBlock
      summary: Fetch a raw IPLD block or its W3C projection.
      description: |
        v0.3.0 added two projections:

        | `Accept` header                          | `?as=` param | Result |
        |------------------------------------------|--------------|--------|
        | `application/vnd.ipld.raw` (or absent)   | absent / `raw` | Raw block bytes, IPIP-402 |
        | `application/ld+json`                    | `jsonld`     | JSON-LD projection (cert blocks only) |
        | `application/vc+ld+json`                 | `vc`         | W3C VC 2.0 credential (cert blocks only) |

        Explicit `?as=` wins over `Accept` negotiation. Requesting
        `jsonld` or `vc` on a non-cert block returns HTTP 406. The
        VC projection's proof cryptosuite is
        `uor-dag-cbor-2025` (unsigned, v0.3.0) or
        `uor-dag-cbor-ed25519-2025` (Ed25519-signed, v0.4.0 when
        `SEM_IPLD_ISSUER_KEY_B64` is configured). Consult
        `/v1/health` → `signing.enabled` to tell which mode the
        service is running.
      parameters:
        - name: cid
          in: path
          required: true
          schema: { type: string }
          example: "bafyreicti7eyzvx6lnabyfcwccm3talwgp4ogh4gqowpugtwd7so4gc2pi"
      responses:
        "200":
          description: |
            Block retrieved. Content varies by `Accept` / `?as=` negotiation —
            raw bytes, JSON-LD projection, or W3C VC 2.0 credential.
          headers:
            Cache-Control:
              schema: { type: string, example: "public, max-age=300, must-revalidate" }
            ETag:
              schema: { type: string, example: "\"bafyrei…\"" }
          content:
            application/vnd.ipld.raw:
              schema: { type: string, format: binary }
            application/ld+json:
              schema: { $ref: "#/components/schemas/CertificateBlock" }
            application/vc+ld+json:
              schema: { $ref: "#/components/schemas/VerifiableCredential" }
        "400":
          description: |
            The path parameter is not a well-formed CID. Tag: `malformed CID`.
            Distinct from 404, which is returned when the CID parses but
            no block is stored under it.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: |
            The CID is well-formed but no block with this CID exists on
            this server. Tag: `block not stored`. With v0.2.0's durable
            Kubo backend, this usually means the CID was produced by a
            different service instance backed by a different Kubo node.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "406":
          description: |
            The caller asked for a projection (`?as=jsonld` or `?as=vc`)
            but the block is not a UOR certificate block (it's a raw
            data block or some other payload). Tag: `not acceptable`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: |
            The block store (Kubo sidecar) is unreachable. Tag:
            `storage backend unavailable`. A liveness probe against
            `/v1/health` will return 503 in the same condition.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /.well-known/ai-plugin.json:
    get:
      operationId: aiPlugin
      summary: OpenAI GPT Actions / ChatGPT Plugin manifest.
      description: |
        Returns the AI plugin manifest that registers this service as a
        callable tool in ChatGPT, GPT Actions, and any agent framework
        that follows the OpenAI plugin discovery convention. The manifest
        points at `GET /v1/openapi.yaml` so the agent automatically
        learns all available operations.
      responses:
        "200":
          description: Plugin manifest.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AIPluginManifest" }

  /v1/openai-tools:
    get:
      operationId: openaiTools
      summary: OpenAI function-calling tool definitions for every operation.
      description: |
        Returns a JSON array of OpenAI-format tool definitions. Paste this
        directly into any OpenAI-compatible agent:

        ```python
        import requests, openai
        tools = requests.get("https://…/v1/openai-tools").json()
        openai.chat.completions.create(model="gpt-4o", tools=tools, messages=[…])
        ```

        Compatible with: OpenAI SDK, LangChain `OpenAIFunctionsAgent`,
        CrewAI, AutoGPT, AWS Bedrock Agents, LlamaIndex, and any framework
        implementing the OpenAI function-calling standard.
      responses:
        "200":
          description: Array of OpenAI function-calling tool definitions.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/OpenAITool" }

  /v1/health:
    get:
      operationId: health
      summary: Liveness probe + store descriptor + signing state.
      description: |
        Returns HTTP 200 with `{status: "ok", store: "<descriptor>",
        signing: {…}}` when the block store is reachable, or HTTP 503
        when it is not. The `signing` block tells consumers which
        cryptosuite to expect on VC projections and (when enabled)
        publishes the Ed25519 public key in multibase form.
      responses:
        "200":
          description: Live; payload as described below.
          content:
            application/json:
              schema:
                type: object
                required: [status, store, signing]
                properties:
                  status: { type: string, enum: ["ok"] }
                  store:  { type: string, example: "kubo 0.30.0" }
                  signing:
                    type: object
                    required: [enabled]
                    properties:
                      enabled: { type: boolean }
                      algorithm:
                        type: string
                        enum: ["ed25519"]
                        description: "Only present when enabled=true."
                      verification_method:
                        type: string
                        example: "did:web:uor.foundation#key-1"
                      public_key_multibase:
                        type: string
                        description: "W3C Multikey (z6Mk…) form of the issuer's Ed25519 public key."
                        example: "z6MkqvwTWf1v7Tmp9HDHM5j6JurtJLhfiiYcPFuyhVVXsqVc"
        "503":
          description: Block store unreachable.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/openapi.yaml:
    get:
      operationId: openapi
      summary: This document.
      responses:
        "200":
          description: The OpenAPI spec.
          content:
            application/yaml:
              schema: { type: string }

components:
  schemas:
    CertifyResponse:
      type: object
      description: |
        **v0.5.0.** A valid JSON-LD 1.1 document. Field order follows the
        W3C convention: `@context` → `@type` → identity → proof → convenience.

        One-line story: UOR admitted the object → assigned `uor_address`
        (ontological name) → that maps 1-to-1 to `@id` (IPFS content address).
      required: ["@context", "@type", "uor_address", "@id", "certificate", "integrity", "digestMultibase", "foundation_version", "gateway"]
      properties:
        "@context":
          type: string
          format: uri
          description: |
            JSON-LD 1.1 context IRI — the UOR ontology namespace that
            defines every term in this document. The context document
            itself is pinned in IPFS for permanence; the IRI is its
            canonical human-readable name.
          example: "https://uor.foundation/"
        "@type":
          type: string
          format: uri
          description: |
            JSON-LD type as a full IRI, grounded in the UOR-Framework
            ontology (github.com/UOR-Foundation/UOR-Framework, namespace
            `state`). `GroundedContext` means the object was formally
            admitted by the UOR kernel and reached full saturation.
          example: "https://uor.foundation/state/GroundedContext"
        uor_address:
          type: string
          description: |
            **The UOR canonical name.** Multibase base58btc (`z`-prefix)
            over the 16-byte big-endian unit address assigned by the UOR
            kernel. This is the result of UOR name-resolution — stable,
            ontological, and independent of storage location.

            **Idempotent:** the same payload always yields the same
            `uor_address` and `@id`, regardless of how many times you
            call certify or which client you use.
          example: "z9Yrf1BFzxkMGXLmhzCxAivRPMBn3BwD"
        "@id":
          type: string
          format: uri
          description: |
            **The content address.** `ipfs://<data_cid>` — permanent,
            gateway-independent IPFS URI. Retrievable from any public
            IPFS node without depending on this service. The 1-to-1
            content-addressed counterpart to `uor_address`.
          example: "ipfs://bafyreic72oorcja3h7e7suwg3qgdnfbdpyti3dy54zcebifn535yvq2lbq"
        certificate:
          type: string
          format: uri
          description: |
            `ipfs://<certificate_cid>` — IPFS URI of the UOR admission proof
            (DAG-CBOR block). Use `gateway.vc` to resolve it as a W3C
            Verifiable Credential 2.0 document.
          example: "ipfs://bafyreig3lqv5fblgr3vupfvzmxnbzq2xqrvqimhpjhbmxkynqpqcxpxhq4"
        integrity:
          type: string
          description: |
            SRI-2 `sha256-<base64>` over the data-block bytes. Drop
            directly into an HTML `<link integrity="…">` tag or CDN
            integrity check. No libraries needed.
          example: "sha256-U0fJjNb+W0AcFFYQmbmBdjP44x+Gg6z6GnYf5O4YWno="
        digestMultibase:
          type: string
          description: |
            W3C Data Integrity 1.0 `digestMultibase`: Base64Url multibase
            over the multihash envelope (0x12, 0x20, SHA-256 digest).
            Interoperable with any DI 1.0 verifier.
          example: "uEiArPBHXCiF2s4qwX4RCOcFujtR3WIwL53bBKjZnDCFaHg"
        foundation_version:
          type: string
          description: "`uor-foundation` kernel version that ran the admission pipeline."
          example: "0.3.0"
        gateway:
          $ref: "#/components/schemas/Gateway"
    Gateway:
      type: object
      description: |
        HTTP convenience endpoints for block retrieval. Secondary to the
        canonical `@id` and `certificate` IPFS URIs — use those for
        durable references; use `gateway` for browser/HTTP convenience.
      required: [data, cert, jsonld, vc]
      properties:
        data:
          type: string
          description: Raw IPLD data block bytes (IPIP-402 trustless gateway).
        cert:
          type: string
          description: Raw IPLD certificate block bytes.
        jsonld:
          type: string
          description: Certificate block projected as a JSON-LD document (`application/ld+json`).
        vc:
          type: string
          description: |
            Certificate block projected as a W3C VC 2.0 credential
            (`application/vc+ld+json`). `proof.cryptosuite` is
            `uor-dag-cbor-ed25519-2025` (signed) or `uor-dag-cbor-2025`
            (unsigned) depending on service configuration.
    AIPluginManifest:
      type: object
      description: OpenAI GPT Actions / ChatGPT Plugin discovery manifest.
      required: [schema_version, name_for_human, name_for_model, description_for_human, description_for_model, auth, api]
      properties:
        schema_version: { type: string, example: "v1" }
        name_for_human: { type: string, example: "UOR Certify" }
        name_for_model: { type: string, example: "uor_certify" }
        description_for_human: { type: string }
        description_for_model: { type: string }
        auth:
          type: object
          properties:
            type: { type: string, enum: ["none", "bearer", "oauth"] }
        api:
          type: object
          properties:
            type: { type: string, enum: ["openapi"] }
            url: { type: string, format: uri }
    OpenAITool:
      type: object
      description: A single OpenAI function-calling tool definition.
      required: [type, function]
      properties:
        type: { type: string, enum: ["function"] }
        function:
          type: object
          required: [name, description, parameters]
          properties:
            name: { type: string }
            description: { type: string }
            parameters: { type: object }
    CertificateBlock:
      type: object
      description: |
        The DAG-CBOR-encoded body stored under `certificate_cid`. Serialized
        as a CBOR map with lexicographically-sorted keys per the DAG-CBOR
        spec (length-first, then byte-wise). All eight fields are always
        present.
      required: [context, contextIri, data, fingerprint, foundationVersion, unitAddress, wittBits, wittLevelBits]
      properties:
        context:
          description: |
            CBOR link (tag 42) to the UOR OWL ontology context block.
          type: string
          format: cid-link
        contextIri:
          description: |
            CBOR text string — the canonical IRI of the ontology. Redundant
            with `context` for tools that do not resolve CIDs.
          type: string
        data:
          description: |
            CBOR link (tag 42) to the data block — the "link back" that
            makes the certificate self-describing.
          type: string
          format: cid-link
        fingerprint:
          description: |
            CBOR byte string — the width-trimmed `ContentFingerprint`
            produced by `SriHasher256`. Width is `FINGERPRINT_MAX_BYTES`
            (32) for SHA-256.
          type: string
          format: byte
        foundationVersion:
          description: |
            CBOR text string — the `uor-foundation` version used for
            admission. Pins the verifier version alongside the ontology.
          type: string
          example: "0.3.0"
        unitAddress:
          description: |
            CBOR byte string of exactly 16 bytes — the full 128-bit
            `ContentAddress::as_u128()` encoded big-endian. No silent truncation.
          type: string
          format: byte
        wittBits:
          description: |
            CBOR unsigned integer — `GroundingCertificate::witt_bits()`.
          type: integer
          minimum: 0
          maximum: 65535
        wittLevelBits:
          description: |
            CBOR unsigned integer — `Grounded<T>::witt_level_bits()`.
          type: integer
          minimum: 0
          maximum: 65535
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Stable, machine-parseable tag (e.g. `"malformed CID"`, `"integer out of DAG-CBOR range"`).
        detail:
          type: string
          description: Human-readable explanation. May be absent on some error paths.
    VerifiableCredential:
      type: object
      description: |
        W3C Verifiable Credential 2.0 projection of a UOR certificate.
        Emitted by `GET /v1/blocks/{cert_cid}?as=vc`.
      required: ["@context", type, id, issuer, validFrom, credentialSubject, proof]
      properties:
        "@context":
          type: array
          items: { type: string }
          description: Includes `https://www.w3.org/ns/credentials/v2` and UOR context.
        type:
          type: array
          items: { type: string }
          example: ["VerifiableCredential", "uor:GroundingCredential"]
        id:
          type: string
          format: uri
          description: "`ipfs://<cert_cid>` — same CID as `certificate_cid` in the certify response."
        issuer:
          type: string
          const: "did:web:uor.foundation"
        validFrom:
          type: string
          format: date-time
        credentialSubject: { type: object }
        proof:
          type: object
          required: [type, cryptosuite, created, verificationMethod, proofPurpose, proofValue]
          properties:
            type: { const: "DataIntegrityProof" }
            cryptosuite:
              type: string
              enum:
                - "uor-dag-cbor-2025"
                - "uor-dag-cbor-ed25519-2025"
              description: |
                **`uor-dag-cbor-2025`** (v0.3.0 / unsigned). `proofValue`
                is a CID of the canonical form — tamper-evidence without
                a signature. Use in single-writer / trusted-cluster
                deployments.

                **`uor-dag-cbor-ed25519-2025`** (v0.4.0 / Ed25519 over
                the CID's multihash bytes). `proofValue` is a multibase
                Ed25519 signature. Use in federated / multi-party
                scenarios. The service emits this variant when
                `SEM_IPLD_ISSUER_KEY_B64` is configured; consult
                `/v1/health` → `signing` to determine the mode at runtime.
            created:           { type: string, format: date-time }
            verificationMethod: { type: string, example: "did:web:uor.foundation#key-1" }
            proofPurpose:      { type: string, example: "assertionMethod" }
            proofValue:
              type: string
              description: |
                For `uor-dag-cbor-2025`: multibase-base32 (`b…`) CID of the
                VC's canonical form minus proofValue.
                For `uor-dag-cbor-ed25519-2025`: multibase-base58btc (`z…`) 64-byte
                Ed25519 signature over the 34-byte multihash of the
                canonical form.
